<!DOCTYPE html>
<html>
  <head>
    <title>RossmannComputerParts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="news">

    <header>
      <div class="nav">
        <ul>
          <li class="home"><%= link_to "Home", root_path %></li>
          <!-- <li class="admin"><%= link_to "Admin", products_path %></li> -->
        </ul>
      </div>
    </header>

    <div class="banner">
      <h1>Rossman Computer Parts</h1>
    </div>

    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>

  </body>

</html>
